In [3]:
# QUESTION 1
# CLASS PERSON

In [4]:
class Person:
    def __init__(self, name, age, city):
        self.name = name
        self.age = age
        self.city = city
    def person_info (self):
        print(f"Name: {self.name}\nAge: {self.age}\nCity: {self.city}")
my_info=Person('ali',18,'Lahore')
print (my_info.person_info())

Name: ali
Age: 18
City: Lahore
None

In [5]:
# QUESTION 2
# CLASS CAR

In [6]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
    def car_info (self):
        print(f"Make: {self.make}\nModel: {self.model}\nYear: {self.year}")
my_car=Car('BMW', 'Leaf', 2019)
print(my_car.car_info())

Make: BMW
Model: Leaf
Year: 2019
None

In [7]:
# QUESTION 3
# CLASS CIRCLE

In [8]:
class Circle:
    def __init__(self, radius):
        self.radius=radius
    def area (self):
        return 3.14*(self.radius**2)
    def circumference (self):
        return 2*3.14*self.radius
given_circle=Circle(15)
print(f"Radius: {given_circle.radius}\nArea: {given_circle.area()}\nCircumference: {given_circle.circumference()}")

Radius: 15
Area: 706.5
Circumference: 94.2

In [9]:
# QUESTION 4
# CLASS RECTANGLE

In [10]:
class Rectangle:
    def __init__(self, length, width):
        self.length = length
        self.width = width
    def area (self):
        return self.width*self.length
    def perimeter (self):
        return 2*(self.length+self.width)
given_rectangle=Rectangle(10,15)
print(f"Length: {given_rectangle.length}\nWidth: {given_rectangle.width}\nArea: {given_rectangle.area()}\nPerimeter: {given_rectangle.perimeter()}")

Length: 10
Width: 15
Area: 150
Perimeter: 50

In [11]:
# QUESTION 5
# CLASS STUDENT

In [12]:
class Student:
    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks
    def average_marks (self):
        return sum(self.marks)/len(self.marks)
student_info = Student('Zoha', 91, [25,40,29,20,20])
print(f"Name: {student_info.name}\nRoll No: {student_info.roll_number}\nAverage Marks: {student_info.average_marks()}")

Name: Zoha
Roll No: 91
Average Marks: 26.8

In [13]:
# QUESTION 6
# CLASS BOOK

In [14]:
class Book:
    def __init__ (self, title, author, publication_year):
        self.title = title
        self.author = author
        self.publication_year = publication_year
    def book_info (self):
        print(f"Title: {self.title}\nAuthor: {self.author}\nPublication Year: {self.publication_year}")
my_book = Book('Namal', 'Nimra Ahmad', 2016)
print(my_book.book_info())

Title: Namal
Author: Nimra Ahmad
Publication Year: 2016
None

In [15]:
# QUESTION 7
# CLASS EMPLOYEE

In [16]:
class Employee:
    def __init__(self, name, salary, designation):
        self.name = name
        self.salary = salary
        self.designation = designation
    def employee_info (self):
        print(f"Name: {self.name}\nSalary: {self.salary}\nDesignation: {self.designation}")
employee_1 = Employee('Hassaan', 4_000_000, 'Senior Doctor')
print(employee_1.employee_info())

Name: Hassaan
Salary: 4000000
Designation: Senior Doctor
None

In [17]:
# QUESTION 8
# CLASS BANK

In [18]:
class Bank:
    def __init__(self, name, account_number, balance):
        self.name = name
        self.account_number = account_number
        self.balance = balance
        
    def deposit (self, amount):
        self.balance += amount
        print(f"Amount Deposited: {amount}, New Balance: {self.balance}")
        
    def withdraw (self, amount):
        if self.balance >= amount:
            self.balance -= amount
            print(f"Amount Withdrawn: {amount}, New Balance: {self.balance}")
        else:
            print('Insufficient funds.')
            
    def get_balance (self):
        return self.balance
        
user_info = Bank('ali', 3464576755, 5_000_000)
print(f"Name: {user_info.name}\nAccount Number: {user_info.account_number}\nBalance: {user_info.balance}")
user_info.deposit(1000)
user_info.withdraw(2000)

Name: ali
Account Number: 3464576755
Balance: 5000000
Amount Deposited: 1000, New Balance: 5001000
Amount Withdrawn: 2000, New Balance: 4999000